 
.container{
  width: 1170px !important;
  padding: 0 !important;
}
.navbar {
  margin-bottom: 0px;
  min-height: 75px;
}

.navbar-brand {
    padding: 6px  15px 6px 10px;
}

.navbar-brand > div > img {
  width: 40px;

}

.navbar-default {
  background-color: #004794;
}

.navbar-default > li > a {
  font-size: 4vw;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #004794;
  background-color: white;

}

.navbar-nav {
  float: right;
  margin-top: 13px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.well{
  background-color: white;
}


.well .nav-tabs>li.active>a,
.well .nav-tabs>li.active>a:focus, .well .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #004794;
    border: 1px solid #004794;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding: 10px 10px;
    font-size: .9em;
}

a {
    color: #004794;
    text-decoration: none;
}

.shiny-input-container>div>select:not(.selectized) {
    width: 100%;
    height: 200px;
}




.tab-content{
  margin-top: 20px;
  overflow-y: scroll;
}

.img-holder{
  display:flex;
}

.main-page-img{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.main-page-img img{
  width: 400px;
}

.main-p{
  margin: 30px 0;
  width: 700px;
}
.img-p{
  margin-top: 20px;
}

.timeouttxt{
  color: grey;
}

.timeouttitle{
  font-size: 15px !important;
  font-weight: 700;
}


/* Slider*/

.date_slider{
  margin: 10px;
}


.smooth_slider{
    margin: 15px !important;
}

.irs-bar {
  border-top: 1px solid #004794 !important;
  border-bottom: 1px solid #004794 !important;
  background: #004794 !important;
}

.irs-bar-edge {
  border: 1px solid #004794 !important;
  border-right: 0 !important;
  background: #004794 !important;
}

.irs-from,
.irs-to,
.irs-single {
  background: #004794 !important;
}

/*table*/
  table.dataTable thead th {
    padding: 10px 10px;
  }


.guidelink{
  font-size: 13px;
  margin-left: 10px;
  margin-top: 30px;
}

.guidelink>a{
  color: #333333;

}

.guidelink>a>span{
  display: flex;
  align-items: baseline;

}

.guidelink>a>span>i{
  margin-right: 5px;
}

.sw-dropdown-content {
  height: 500px;
  overflow-y: scroll;
}

.sidetitle {
  text-align: center;
  font-size: 16px;
}

.flow-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

#help-button {
  margin-top: -5px;
  margin-right: 15px;
  font-size: 32px;
  cursor: pointer;
}

.download-button {
  display: flex;
  justify-content: center;
}

.fs-button {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.startpage {
  margin-left: 20px;
}

.display-filters {
    display: block;
    font-family: monospace;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.display-filters:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  width: 49%;
  float: left;
  margin: 5px;
}

.sneakymail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
  color: #005BBB;
  font-size: 14px;
}

.introjs-tooltip {
  max-width: 440px !important;
}